.header {
  display: grid;
  border-bottom: 1px solid var(--theme-grey-1);
  padding: 0 var(--content-padding);

  text-transform: uppercase;

  & h1 {
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 1rem 0;
    text-align: center;
    line-height: 1;

    font-size: 1.6rem;

    @media (min-width: 600px) {
      font-size: 2.2rem;
    }
  }

  & a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
