:root {
  --theme-white: #fff;
  --theme-grey-1: #d3d6da;
  --theme-grey-2: #878a8c;
  --theme-black: #1a1a1b;
  --theme-present: #c9b458;
  --theme-correct: #6aaa64;
  --theme-absent: #787c7e;
  --theme-filled-tile-text: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-white: #121213;
    --theme-grey-1: #3a3a3c;
    --theme-grey-2: #565758;
    --theme-black: #d7dadc;
    --theme-present: #b59f3b;
    --theme-correct: #538d4e;
    --theme-absent: #3a3a3c;
    --theme-filled-tile-text: #d7dadc;
  }
}

html {
  background: var(--theme-white);
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: var(--theme-black);
  line-height: 1.5;
}

body {
  margin: 0;
}
