:root {
  --theme-white: #fff;
  --theme-grey-1: #d3d6da;
  --theme-grey-2: #878a8c;
  --theme-black: #1a1a1b;
  --theme-present: #c9b458;
  --theme-correct: #6aaa64;
  --theme-absent: #787c7e;
  --theme-filled-tile-text: #fff;
  --theme-table-cell: hsl(214deg, 7%, 94%);
  --theme-table-cell-alt: hsl(214deg, 7%, 97%);
  --theme-table-heading-alt: hsl(214deg, 9%, 88%);

  --content-padding: 0.7rem;
  --paragraph-line-height: 1.9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-white: #121213;
    --theme-grey-1: #3a3a3c;
    --theme-grey-2: #565758;
    --theme-black: #d7dadc;
    --theme-present: #b59f3b;
    --theme-correct: #538d4e;
    --theme-absent: #3a3a3c;
    --theme-filled-tile-text: #d7dadc;
    --theme-table-cell: hsl(214deg, 7%, 12%);
    --theme-table-cell-alt: hsl(214deg, 7%, 9%);
    --theme-table-heading-alt: hsl(214deg, 9%, 16%);
  }
}

html {
  background: var(--theme-white);
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: var(--theme-black);
  line-height: 1.5;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

a {
  color: var(--theme-correct);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
