.analysis-entry {
  --content-padding: 0.7rem;
}

.remaining-description {
  padding: 0 var(--content-padding);
}

.remaining-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

.remaining-list > li {
  margin: 0;
  display: block;
}

.analysis-table {
  max-width: 665px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & th {
    background: hsl(214deg, 9%, 84%);
  }

  & td {
    background: hsl(214deg, 7%, 94%);
    text-align: center;
  }

  & tr {
    display: contents;

    &:nth-child(1),
    &:nth-child(2) {
      & > :first-child {
        position: absolute;
        pointer-events: none;
        width: 1px;
        height: 1px;
        overflow: hidden;
        padding: 0;
        clip: rect(0, 0, 0, 0);
      }
    }

    @media (min-width: 550px) {
      &:nth-child(odd) {
        & th[scope='row'] {
          background: hsl(214deg, 9%, 88%);
        }

        & td {
          background: hsl(214deg, 7%, 97%);
        }
      }
    }
  }

  & th:first-child {
    grid-column: 1 / span 2;
  }

  & th,
  & td {
    padding: var(--content-padding);
  }

  @media (min-width: 550px) {
    grid-template-columns: 200px 1fr 1fr;

    & tr {
      &:nth-child(1),
      &:nth-child(2) {
        & > :first-child {
          position: static;
        }
      }
    }

    & th:first-child {
      grid-column: 1 / 2;
    }

    & th[scope='row'] {
      text-align: left;
    }
  }
}

.no-break {
  white-space: nowrap;
}
