.analysis-entry {
}

.analysis-table {
  max-width: 665px;
  margin: 1.9rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & th {
    background: var(--theme-grey-1);
  }

  & td {
    background: var(--theme-table-cell);
    text-align: center;
  }

  & tr {
    display: contents;

    &:nth-child(1),
    &:nth-child(2) {
      & > :first-child {
        position: absolute;
        pointer-events: none;
        width: 1px;
        height: 1px;
        overflow: hidden;
        padding: 0;
        opacity: 0;
      }
    }
  }

  & th:first-child {
    grid-column: 1 / span 2;
  }

  & th,
  & td {
    padding: var(--content-padding);
  }

  @media (min-width: 550px) {
    grid-template-columns: 200px 1fr 1fr;

    & tr {
      &:nth-child(1),
      &:nth-child(2) {
        & > :first-child {
          position: static;
        }
      }

      &:nth-child(odd) {
        & th[scope='row'] {
          background: var(--theme-table-heading-alt);
        }

        & td {
          background: var(--theme-table-cell-alt);
        }
      }
    }

    & th:first-child {
      grid-column: 1 / 2;
    }

    & th[scope='row'] {
      text-align: left;
    }
  }
}

.no-break {
  white-space: nowrap;
}

.unused-clue-list {
  display: block;

  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: max-content;

  & li {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: start;

    &::before {
      content: '-';
      margin-right: 0.5rem;
    }
  }
}
