.pre-commentary {
  padding: 0 var(--content-padding);
  text-align: left;
  line-height: var(--paragraph-line-height);
}

.guesses {
  display: grid;
  grid-auto-flow: row;
  gap: 0.3rem;
  margin: 1rem 0;
}

.pill-heading {
  background: var(--theme-grey-1);
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
  margin: 1.9rem auto;
  margin-top: 5rem;
  border-radius: 1000px;
  min-width: 7rem;
  width: max-content;
  text-align: center;
}

.progress-container {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
