.analysis {
  max-width: 665px;
  margin: 0 auto;
}

.guesses {
  display: grid;
  grid-auto-flow: row;
  gap: 0.3rem;
  margin: 1rem 0;
}

.guess-heading {
  background: var(--theme-grey-1);
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
  margin: 1.5em auto;
  width: max-content;
  border-radius: 1000px;
}
