.instructions {
  display: grid;
  overflow: hidden;
  background: var(--theme-grey-1);
  text-align: center;
  align-items: center;
  line-height: 1.2;
  padding: 0 var(--content-padding);
}

.instructions > * {
  grid-area: 1 / 1;
}

.instructions > [aria-hidden='true'] {
  opacity: 0;
  pointer-events: none;
}
