.sr {
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 2rem 0;
  gap: 0.3em;
}

.button {
  all: unset;
  color: inherit;
  display: inline-block;
  background: var(--theme-correct);
  color: var(--theme-filled-tile-text);
  border-radius: 4px;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 5px solid var(--theme-button-focus);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    background: var(--theme-absent);
  }

  &:hover {
    text-decoration: none;
  }
}

.button-with-icon {
  composes: button;
  display: inline-grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 0.7rem;

  & svg {
    fill: var(--theme-filled-tile-text);
    width: 24px;
    height: 24px;
  }
}

.container {
  max-width: 665px;
  margin: 0 auto;
}

.hidden-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
