.container {
  transform-origin: 0 0;
  transform: scale(0.2);
}

.canvas {
  --theme-present: #c9b458;
  --theme-correct: #6aaa64;
  --theme-absent: #787c7e;

  width: 1920px;
  height: 960px;
  border: 1px solid #000;
  position: relative;
  display: grid;
  grid-template-rows: 1fr max-content;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  --row-height: 97px;
}

.main {
  display: grid;
  grid-template-columns: max-content repeat(2, 538px);
  font-size: 48px;
  align-self: center;
  justify-self: center;
  gap: 10px;
}

.table-heading {
  background: #d3d6da;
  height: var(--row-height);
  text-align: center;
  display: grid;
  align-content: center;
}

.guess {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 10px;
}

.guess-letter {
  gap: 10px;
  width: var(--row-height);
  height: var(--row-height);
  background: var(--theme-correct);
}

.table-content {
  text-align: center;
  font-size: 60px;
  display: grid;
  align-content: center;
}

.footer {
  background: #dadfe1;
  height: var(--row-height);
  font-size: 38px;
  display: grid;
  align-content: center;
  padding-left: 30px;
}
