.guess {
  margin: 0 auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3em;
}

.cell {
  grid-row: 1;
  --size: 3.7rem;
  border: 2px solid var(--theme-grey-1);
  display: grid;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  text-transform: uppercase;
  font-size: 2rem;
  user-select: none;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
}

.has-char {
  border-color: var(--theme-grey-2);
}

.correct,
.present,
.absent {
  border: none;
  background: var(--theme-absent);
  color: var(--theme-filled-tile-text);
}

.correct {
  background: var(--theme-correct);
}

.present {
  background: var(--theme-present);
}

.highlight {
  --highlight-margin: 12px;
  grid-row: 1;
  background: var(--theme-grey-1);
  border-right: 2px solid var(--theme-grey-1);
  height: 60%;
  position: relative;
  align-self: center;
  margin: 0 var(--highlight-margin);
}

.single-highlight {
  justify-self: start;
}

.single-highlight.last-highlight {
  justify-self: end;
}
